<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body class="d-flex align-items-center justify-content-center vh-100">
    <div class="text-center">
        <h1 class="mb-3">Register</h1>

        <form method="POST" action="">
            {{ form.hidden_tag() }}

            <div class="form-group">
                {{ form.email(class="form-control") }}
            </div>

            <div class="form-group">
                {{ form.password(class="form-control") }}
            </div>

            <div class="form-group">
                {{ form.submit(class="btn btn-outline-secondary") }}
            </div>
        </form>

        {% if form.errors %}
            {% for field, errors in form.errors.items() %}
                {% for e in errors %}
                    <p style="color: red;">{{e}}</p>
                {% endfor %}
            {% endfor %}
        {% endif %}

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <p class="{{ 'success' if 'success' in message else 'error' }}">{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
    
        <a href="{{ url_for('main.login') }}" class="btn btn-link" style="color: black;">Login</a><br>
    
    </div>

    <!-- Bootstrap JS (Optional) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
